<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Bus Monitoring System</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Contact Info</ion-card-subtitle>
      <label>admin_bustracker@gmail.com</label>
      <label>31313241313</label>
      <label>Universiti Kebangsaan Malaysia</label>
    </ion-card-content>
  </ion-card>
</ion-content>