
$height100: 100%;

.title{
    color: #ffffff;
}


ion-grid {
    width:100%;
    height: $height100;
}


ion-row {
    height: $height100;
}

ion-col {
    border: 1px ;
    
}

ion-button {
    font-weight: 300;
}




  