<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="updatePassword(form)" method="post">
    <div class="ion-padding">
      <ion-item no-lines color="light">
        <ion-icon name="key" slot="start" color="primary"></ion-icon>
        <ion-input [(ngModel)]="password.form" type="{{type}}" name="password"  placeholder="Password" style="width: 40px;" no-lines>
        </ion-input>
        <ion-button *ngIf="!showPass" fill="clear" color="light" type="button" item-right (click)="showPassword()">
          <ion-icon color="primary" name="eye" style="font-size:25px;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="showPass" fill="clear" color="light" type="button" item-right (click)="showPassword()">
          <ion-icon color="primary" name="eye-off" style="font-size:25px;"></ion-icon>
        </ion-button>
      </ion-item>
      <br>

      <ion-item no-lines color="light">
        <ion-icon name="key" slot="start" color="primary"></ion-icon>
        <ion-input [(ngModel)]="retrypassword.form" type="{{type2}}" name="retrypassword" placeholder="Password confirmation" style="width: 40px;" no-lines>
        </ion-input>
        <ion-button *ngIf="!showPass2" fill="clear" color="light" type="button" item-right
          (click)="showPassword2()">
          <ion-icon color="primary" name="eye" style="font-size:25px;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="showPass2" fill="clear" color="light" type="button" item-right
          (click)="showPassword2()">
          <ion-icon color="primary" name="eye-off" style="font-size:25px;"></ion-icon>
        </ion-button>
      </ion-item>
      <br>
    </div>
    <div class="ion-padding">
      <ion-button size="large" type="submit" expand="block">Update Password</ion-button>
    </div>
   </form>

</ion-content>
